/* app/globals.css */
:root {
  --brand-cream: #FEF3E2;
  --brand-gold: #FAB12F;
  --brand-orange: #FA812F;
  --brand-red: #FA4032;
  --brand-dark: #0D0D0D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--brand-dark);
  color: var(--brand-cream);
  font-family: sans-serif;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 80px); /* Subtracts Navbar height */
}